.card {
    width: 320px;
    height: 340px;
    border-radius: 32px;
    border: 1px solid #1819451A;
    padding: 15px;
    margin-top: 100px;
    cursor: pointer;
}
.card-image {
    width: 258x;
    height: 200px;
    /* background: #DBEFFA; */
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card span {
    width: 96px;
    height: 96px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
    border: 1px solid;
    border-image-source: linear-gradient(135deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(135deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
                linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));

}
.card span div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    border-radius: 16px;
    background: #ffffff;
}
.card img {
    width: 32px;
    height: 32px;
}

.card .cards-text h1, .card-para{
    padding: 30px 0 10px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    font-family: var(--textType);
    color: var(--darkText);
}
.card .cards-text .card-para{
    width: 100%;
    padding: 0;
    font-size: 13px;
    font-weight: 500;
    opacity: 50%;
    letter-spacing: 0.5px;
}